<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
    <div class="container">
		<a href="https://www.examplehospital.com">
			<div class="avatar">
				<img src="img/HOME.png" alt="Hospital Avatar">
			</div>
		</a>
		<a href="https://www.examplehome.com">
			<div class="avatar">
				<img src="img/HOME.png" alt="Home Avatar">
			</div>
		</a>
	</div>
    

<!-- partial:index.partial.html -->
<div id="bg"></div>

<form action="http://localhost:3005/LoginAdmin" method="post">
  <div class="form-field" style="position: relative; right: 430px; top: 180px;">
    <!-- <button class="btn" type="submit">Log in</button> -->
  </div>
</form>
<form action="http://localhost:3005/LoginDoctor" method="post">
  <div class="form-field" style="position: relative; right: 600px; top: 180px;">
  </div>
</form>
<!-- partial -->
  
</body>
</html>
