<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="img/favicon.png" rel="icon">
  <link href="/styling/welcome.css" rel="stylesheet">

</head>
<body>
  
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form action="../auth/login" method="get">
  <h2>Welcome to Quarantine Virtual Doctor</h2>
  <p>Please select login continue</p>
  <div class="form-field">
    <button class="btn" name="submit" type="submit">Login</button>
  </div>
</form>

<!-- partial -->
  
</body>
</html>
