<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Doctor</title>

    <link href="images/favicon.png" rel="icon">

    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/styleAddDoctor.css">

    <!--js connect-->
    <script src="../BackEnd/testDB.js" >  </script>
</head>
<body>
<!--node jS-->
    <form action="../adddoctor" method="post">

    <!-- Font Icon -->
    <div class="main">

        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="images/form-img.jpg" alt="Booking Image">
                </div>
                <div class="booking-form">
                    <form id="booking-form">
                        <h2>ADD DOCTOR</h2>
                        <div class="form-group form-input" >
                            <input type="text" name="name" id="name" value="" required/>
                            <label for="name" class="form-label">Doctor's Name</label>
                        </div>
                        <div class="form-group form-input" >
                            <input type="number" name="mobile" id="mobile" value="" required />
                            <label for="mobile" class="form-label">Doctor's Mobile</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="city" id="city" value="" required/>
                            <label for="city" class="form-label">Doctor's City</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="street" id="street" value="" required/>
                            <label for="street" class="form-label">Doctor's Street</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="buildingNo" id="buildingNo" value="" required/>
                            <label for="buildingNo" class="form-label">Doctor's BuildingNo</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="Username" id="Username" value="" required/>
                            <label for="Username" class="form-label">Doctor's Username</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="password" id="Password" value="" required/>
                            <label for="Password" class="form-label">Doctor's Password</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" required/>
                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="specialization" id="Specialization" value="" required/>
                            <label for="Specialization" class="form-label">Doctor's Specialization</label>
                        </div>
                        <div class="gender-radio">
                            <label for="gender" class="fl fontLabel">Gender:</label>

                              <input id="Male" type="radio" name="Male" >
                              <label for="Male"><span></span>Male</label>
                          
                              <input id="Female" type="radio" name="Female" >
                              <label for="Female"><span></span>Female</label>
                            </div>
                        
                       
                        <!-- style = "position:relative; top:50px;" &nbsp;-->
                        <div class="form-submit" >
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />  
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</form>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>