<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Doctor Login</title>

  <link href="img/favicon.png" rel="icon">
  <link rel="stylesheet" href="./styleDoctor.css">

</head>
<body>
  
<!-- partial:index.partial.html -->
<div id="bg"></div>
<form action="../Login" method="post">
<form>
  <div class="form-field" style = "position:relative; right:500px; top:170px;" >
    <input name="name" type="name" placeholder="Username" required/>
  </div>
  
  <div class="form-field" style = "position:relative; right:500px; top:175px;" >
    <input name="password" type="password" placeholder="Password" required/>      
                     </div>
  
  <div class="form-field" style = "position:relative; right:500px; top:180px;" >
    <!-- <button class="btn" type="submit">Log in</button> -->
    <button class="btn"  name="submit" type="submit">Log in </button>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
