<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="img/favicon.png" rel="icon">

  <link rel="stylesheet" href="./style.css">

</head>
<body>
  
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form action="../LoginIT_Manager" method="post">
  <div class="form-field" style="position: relative; right: 130px; top: 70px;">
    <button class="btn" name="submit" type="submit">IT-Manager</button>
  </div>
</form>
<form action="../LoginDoctor" method="post">
  <div class="form-field" style="position: relative; right: 430px; top: 130px;">
    <button class="btn" name="submit1" type="submit">Doctor</button>
  </div>
</form>
<form action="../LoginNurse" method="post">
  <div class="form-field" style="position: relative; right: 730px; top: 190px;">
    <button class="btn" name="submit1" type="submit">Nurse </button>
  </div>
</form>
<form action="../LoginReceptionist" method="post">
  <div class="form-field" style="position: relative; right: 1030px; top: 250px;">
    <button class="btn" name="submit1" type="submit">Receptionist</button>
  </div>
</form>

<!-- partial -->
  
</body>
</html>